.hero-button{
    width: 200px;
    height: 80px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 30px;
    background-color:rgb(255, 30, 0)  ;
    border: none;
    margin-bottom: 250px;
    position: absolute;
    top: 48%;
    left: 45%;
    font-family: 'Luckiest Guy', cursive;
    border: black solid;


}

.hero-button:hover{
    background:orange;
    color: white;
    border: black solid;


}
//  .pulsate{
//     //  /-webkit-/animation: pulsate 3s ease-in-out;
//     //  /-webkit-/animation-iteration-count:infinite ;
//     //  //opacity: .3;
//     //  display: flex;
//     //  color: white;



//  }

@-webkit-keyframes pulsate{
    0% {
        opacity: .3;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: .3;
    }

}