<footer class="footer">

  <section id="social-icons">
    <div class="section-center">
      <p class="text">
        <span>Seguici su:</span>
      </p>
    </div>


    <a href="#"><i class="fab fa-facebook facebook"></i></a>
    <a href="#"><i class="fab fa-twitter twitter"></i></a>
    <a href="#"><i class="fab fa-instagram instagram"></i></a>
    <a href="#"><i class="fab fa-google-plus plus"></i></a>

    <div class="section-center">
             <a class="faq"
                href="#"> <span style="color: white;" class="link_title" title="FAQ">FAQ</span> </a>
            
             <a class="faq"
                href="#"> <span class="link_title" title="FAQ">FAQ</span> </a>
                
            <a class="faq"
                href="#"> <span class="link_title" title="FAQ">FAQ</span> </a>
    </div>
    <div class="section-center">
      <p class="text">
        &copy; <span>2021 Food Solution. All rights reserved</span>
      </p>
    </div>
  </section>
</footer>

