<footer class="footer">

  <section id="social-icons">
    <div class="section-center">
      <p class="text">
        <span>Seguici su:</span>
      </p>
    </div>


    <a href="#"><i class="fab fa-facebook facebook"></i></a>
    <a href="#"><i class="fab fa-twitter twitter"></i></a>
    <a href="#"><i class="fab fa-instagram instagram"></i></a>
    <a href="#"><i class="fab fa-google-plus plus"></i></a>
</section>
<div class="section-center">
             <button class="faq"
             routerLink= "/homepage">Home </button>

             <button class="faq"
                href="#">Soci </button>
            
             <button class="faq"
                href="#"> Contattaci </button>
                
            <button class="faq"
                href="#">Termini e condizioni</button>
    </div>
    <div class="section-center">
      <p class="text">
        &copy; <span>2021 Food Solutions. All rights reserved</span>
      </p>
    </div>
</footer>

