<!-- <button mat-raised-button (click)="isEditable = !isEditable">
    {{!isEditable ? 'Enable edit mode' : 'Disable edit mode'}}
  </button> -->
<div class="riepilogo-carrello">
  <mat-horizontal-stepper  #stepper>
    <mat-step class="step" [editable]="isEditable">
      <button>CIAOASDASDw</button>
    </mat-step>
    <mat-step class="step" [editable]="isEditable">
      <button>Ciao</button>
    </mat-step>
    <mat-step class="step">
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
  
</div>