.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  }

  .riepilogo-carrello{
    width: 100%;
    
  }

 .step{
    width: 200px;
    
  }