@import url(https://fonts.googleapis.com/css?family=Akronim);
.logo{
  float: left;
  margin-right: 10px;
  transition: all .2s ease-in-out;
  // margin-top:2px;
}

.logo:hover {
  cursor : pointer;
  transform:scale(1.08);
}

.elementiSinistra{
  display: block;
  width: 170px;
  height: 50px;
  float: left;
  margin: 25px;
  margin-left: 50px;
  list-style-type: none;
  background-size:cover;
}

.elementiDestra{
  
  width: 150px;
  height: 50px;
  float: right;
  margin-top: 30px;
  list-style-type: none;
}

.buttonSinistra{
  
  
  width: 100%;
  height: 100%;
  border: none;
  background-color: rgba(45,43,43,1);
  font-size: 46px;
  font-weight: bold;
  line-height: 0.6;
  // -webkit-text-stroke: 2px black;
  font-family: 'Akronim';color: rgb(247, 3, 3); /* width and color */
  transition: transform 1s ease, color 1s ease;
  
}
.buttonSinistra:hover{
  color: orange;
  transform: translateY(-20px);
  animation: 2s fiamme infinite alternate linear; 
  // body {
  //   width: 100%;
  //   position: relative;
  //   background-color: #000;
  //   padding: 0;
  //   margin: 0;
  // }
  .mo-fire {
    width: 135px;
    height: 80px;
    display: flex;
    justify-content: center;
  }
  .mo-fire svg {
    width: 100%;
    height: 70px;
    // position: relative;
    display: flex;
    justify-content: center;
  }
  .flame {
    animation-name: flamefly;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    opacity: 0;
    transform-origin: 50% 50% 0;
    margin: 0;
  }
  .flame.one {
    animation-delay: 0.5s;
    animation-duration: 1s;
  }
  .flame3.two{
    animation-duration: 1s;
    animation-delay: 1s;
  }
  
  .flame-main {
    animation-name: flameWobble;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  .flame-main.one {
    animation-duration: 1s;
    animation-delay: 1s;
  }
  .flame-main.two {
    animation-duration: 1s;
    animation-delay: 1s;
  }
  .flame-main.three {
    animation-duration: 1s;
    animation-delay: 1s;
  }
  .flame-main.four {
    animation-duration: 1s;
    animation-delay: 1s;
  }
  .flame-main.five {
    animation-duration: 1s;
    animation-delay: 1s;
  }
  @keyframes flameWobble {
    50% {
      transform: scale(1,1.2) translate(0, -30px) rotate(-2deg);
    }
  }
  @keyframes flamefly {
    0%{
      transform: translate(0) rotate(180deg);
    }
     50% {
       opacity: 1;
    }
    100% {
      transform: translate(-20px, -100px) rotate(180deg);
      opacity: 0;
    }
  
  }
  
  }
.buttonDestra{
  color:white;
  width:100%;
  height:100%;
  border: none;
  background-color: rgba(45,43,43,1);
  font-size: 22px;
  font-weight: bold;
}
.buttonDestra:hover{
    text-decoration: underline;
    
    
}

@keyframes fiamme {
  0%   { text-shadow: 0 3px 3px red, 0 0 3px red,
    0 0 2px orange,
    0 0 0 yellow,
    0 0 0.5px yellow,
    -2px -1px 0.5px yellow,
    1.5px -2px 2px yellow; }
  25%   { text-shadow: 0 3px 3px red, 0 0 3px red,
    0 0 2px orange,
    0 0 0 yellow,
    0 0 0.5px yellow,
    -2px -1px 0.5px yellow,
    1.5px -2px 2px yellow; }
  50%   { text-shadow: 0 3px 3px red, 0 0 3px red,
    0 0 2px orange,
    0 0 0 yellow,
    0 0 0.5px yellow,
    -2px -1px 0.5px yellow,
    1.5px -2px 2px yellow; }
  75%  { text-shadow: 0 3px 3px red, 0 0 3px red,
    0 0 2px orange,
    0 0 0 yellow,
    0 0 0.5px yellow,
    -2px -1px 0.5px yellow,
    1.5px -2px 2px yellow; }
  100%   { text-shadow: 0 3px 3px red, 0 0 3px red,
    0 0 2px orange,
    0 0 0 yellow,
    0 0 0.5px yellow,
    -2px -1px 0.5px yellow,
    1.5px -2px 2px yellow; }
}
.div{
  overflow: hidden;
  display: block;
  margin-top: 0;
  height: 155px;
  background: rgb(22,22,22);
background: linear-gradient(78deg, rgba(22,22,22,1) 6%, rgba(45,43,43,1) 17%, rgba(45,43,43,1) 40%);
}

.carrello{
  color: white;
  font-size: 40px;
  transition: all .2s ease-in-out;
}

.carrello:hover{
  transform: scale(1.4);
}

.button-carrello{
  border: none;
  background:none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

