<link href="//db.onlinewebfonts.com/c/febf37ead8b4b5230a74ef82850ffca4?family=LocalBreweryFour-Regular" rel="stylesheet" type="text/css"/>

<div class="content">
  <app-logo></app-logo>
  <h1 class="chi_siamo" data-editor="simple">ROADHOUSE</h1>
  <h1 class="frase1">B-eat è tra le prime catene di steakhouse in Italia, sviluppata dal gruppo Blu di Bit Academy dal
    2021,
    che ne detiene la proprietà per l’Italia. Con gli anni si è trasformata in veri locali casual dining che offrono un
    menu in
    evoluzione che va da burger, sandwich e salad a specialità di carne classiche o specialità dal mondo.</h1>

  <img class="img1" src="/../assets/experience0.jpg" alt="carne cruedele">


  <div class="content2">
    <img class="img2" src="/../assets/experience1.jpg" alt="mucca crudele">
    <img class="loghino" src="/../assets/loghino.png" alt="carne crudele">
    <h1 class="frase2">Cosa offriamo<br><br>
      Qualità garantita dal pascolo ai nostri tavoli.<br>
      B-eat garantisce il miglior rapporto qualità prezzo del mercato, anche grazie alla sinergia con
      Meat Srl, Azienda leader nel settore della produzione e della macellazione delle carni di tutti i tipi. Inoltre,
      le
      promozioni
      giornaliere rendono l'offerta dei ristoranti accessibile a tutti.</h1>
  </div>

  <div class="content2">
    <img class="loghino" src="/../assets/loghino.png" alt="carne crudele">
    <h1 class="frase2">Mission<br><br>
      Miriamo ad essere un punto di riferimento anche a livello internazionale.<br>
      Grazie alle innovazioni tecnologiche, che
      ci permettono di ampliare i nostri orizzonti e poter,
      giorno dopo giorno, migliorare l'esperienza dei nostri clienti.</h1>

    <img class="img2" src="/../assets/experience2.jpg" alt="mucca buona">
  </div>
</div>
