@font-face {
  font-family: 'burgerFont';
  src: url('../../../assets/Insanibc.ttf') format('truetype');
}

.content {

  background-image: url("/../assets/light.jpg");

}
h1{
  margin-right: 20px;
  color: rgba(45,43,43,1);
}
.titoloP{
  padding-top: 40px;
  font-family: burgerFont;
  font-size: 2rem;
  color: rgba(45,43,43,1);
}

.frase1 {
  font-family: 'Nunito Sans', sans-serif;
  padding-top: 120px;
  margin: 0 250px 0 250px;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  line-height: 1.3;
}
.frase2{
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bold;
  line-height: 1.3;
}

.img1 {
  width: 100%;
  margin-top: 40px;
}

.img2 {
  width: 50%;
}

.content2 {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.loghino {
  height: 80px;
  margin-top: 29px;
  margin-left: 10px;
  margin-right: 10px;
}

.chi_siamo {
  font-family: burgerFont;
  font-size: 7rem;
  color: rgba(45,43,43,1);
  display: flex;
  justify-content: center;

  //background-image: url("/src/assets/light.jpg");
  padding-top: 150px;
  margin-bottom: 0;
}

.logo{
  width: 50px;
  height: 50px;
}

.prova{
  display: flex;
  flex-direction: column;
}

.striscia{
  width: 100%;
  height: 200px;
  background-color: rgb(73, 25, 25);
  display: flex;
  justify-content: center;
  align-content: center;
}

.logo1{
  width: 359px;
  height: 121px;
  margin-top: 40px;
}