<div class="restaurant-box" (click)="openDialog()" [style.backgroundImage]="'url(' + this.restaurantObject.getImg() + ')'">

    <div class="text-container">
        <p class="text">{{this.restaurantObject.getNome()}} </p>
        <div>
            <p>Tipo di carne: </p>
            <p class="text"> {{this.restaurantObject.getCucina()}}</p>
        </div>
    </div>

    <!-- <mat-icon class="icon">homew</mat-icon> -->

    <!-- [style.background-image]="'url(this.restaurantObject.getImg())'" -->

    <img src="../../../assets/cangoroo.png" class="icon">
    
</div>
