.contain {
    margin-top: 2%
}

.sbx-google {
    // display: inline-block;
    // position: relative;
    width: 600px;
    height: 70px;
    white-space: nowrap;
    box-sizing: border-box;
    font-size: 25px;
    z-index:1;
    // position: absolute;
    margin-top: 20px;
    margin-left: 50%;
    transform: translate(-50%, 0);
  }
  
  .sbx-google__wrapper {
    width: 100%;
    height: 100%;
  }
  
  .sbx-google__input {
    display: inline-block;
    -webkit-transition: box-shadow .4s ease, background .4s ease;
    transition: box-shadow .4s ease, background .4s ease;
    border: 0;
    border-radius: 4px;
    box-shadow: inset 0 0 0 1px #CCCCCC;
    background: #FFFFFF;
    padding: 0;
    padding-right: 77px;
    padding-left: 11px;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    white-space: normal;
    font-size: inherit;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
            border : solid red 3px;
  }
  
  .sbx-google__input::-webkit-search-decoration, .sbx-google__input::-webkit-search-cancel-button, .sbx-google__input::-webkit-search-results-button, .sbx-google__input::-webkit-search-results-decoration {
    display: none;
  }
  
  .sbx-google__input:hover {
    box-shadow: inset 0 0 0 1px #b3b3b3;
  }
  
  .sbx-google__input:focus, .sbx-google__input:active {
    outline: 0;
    border: solid red 3px;
    background: #FFFFFF;
  }
  
  .sbx-google__input::-webkit-input-placeholder {
    color: #AAAAAA;
  }
  
  .sbx-google__input::-moz-placeholder {
    color: #AAAAAA;
  }
  
  .sbx-google__input:-ms-input-placeholder {
    color: #AAAAAA;
  }
  
  .sbx-google__input::placeholder {
    color: #AAAAAA;
  }
  
  .sbx-google__submit {
    position: absolute;
    top: 0;
    right: 0;
    left: inherit;
    margin: 0;
    border: 0;
    border-radius: 0 3px 3px 0;
    background-color: #ff1414;
    padding: 0;
    width: 49px;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    font-size: inherit;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
            // border : solid black 3px;
            border-left: none;
  }
  
  .sbx-google__submit::before {
    display: inline-block;
    margin-right: -4px;
    height: 100%;
    vertical-align: middle;
    content: '';
  }
  
  .sbx-google__submit:hover, .sbx-google__submit:active {
    cursor: pointer;
  }
  
  .sbx-google__submit:focus {
    outline: 0;
  }
  
  .sbx-google__submit svg {
    width: 21px;
    height: 21px;
    vertical-align: middle;
    fill: #FFFFFF;
  }
  
  .sbx-google__reset {
    display: none;
    position: absolute;
    top: 15px;
    right: 70px;
    margin: 0;
    border: 0;
    background: none;
    cursor: pointer;
    padding: 0;
    font-size: inherit;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
            
    fill: rgba(0, 0, 0, 0.5);
  }
  
  .sbx-google__reset:focus {
    outline: 0;
  }
  
  .sbx-google__reset svg {
    display: block;
    margin: 4px;
    width: 30px;
    height: 30px;
  }
  
  .sbx-google__input:valid ~ .sbx-google__reset {
    display: block;
    -webkit-animation-name: sbx-reset-in;
            animation-name: sbx-reset-in;
    -webkit-animation-duration: .15s;
            animation-duration: .15s;
  }
  
  @-webkit-keyframes sbx-reset-in {
    0% {
      -webkit-transform: translate3d(-20%, 0, 0);
              transform: translate3d(-20%, 0, 0);
      opacity: 0;
    }
    100% {
      -webkit-transform: none;
              transform: none;
      opacity: 1;
    }
  }
  
  @keyframes sbx-reset-in {
    0% {
      -webkit-transform: translate3d(-20%, 0, 0);
              transform: translate3d(-20%, 0, 0);
      opacity: 0;
    }
    100% {
      -webkit-transform: none;
              transform: none;
      opacity: 1;
    }
  }
.linkpageone{
    width: 49px;
    height: 100%;
}








// @charset "UTF-8";

// *{
// 	margin: 0;
// 	padding: 0;
// 	box-sizing: border-box;
// 	font-family: 'Noto Sans KR', sans-serif;
// }

// body{
// 	background: #ffda70;
// }

// .header{
// 	width: 1000px;
// 	padding: 20px;
// 	background: #7690da;
// 	margin: 25px auto;
// 	border-radius: 5px;
// 	text-align: center;
// }

// .header p{
// 	font-size: 45px;
// 	text-transform: uppercase;
// 	font-weight: 700;
// 	color: #fff;
// }

// .container .input{
// 	border: 0;
// 	outline: none;
// 	color: #8b7d77;
// }

// .search_wrap{
// 	width: 500px;
// 	margin: 38px auto;
// }

// .search_wrap .search_box{
// 	position: relative;
// 	width: 500px;
// 	height: 60px;
// }

// .search_wrap .search_box .input{
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	height: 100%;
// 	padding: 10px 20px;
// 	border-radius: 3px;
// 	font-size: 18px;
// }

// .search_wrap .search_box .btn{
// 	position: absolute;
// 	top: 0;
// 	right: 0;
// 	width: 60px;
// 	height: 100%;
// 	background: #7690da;
// 	z-index: 1;
// 	cursor: pointer;
// }

// .search_wrap .search_box .btn:hover{
// 	background: #708bd2;	
// }

// .search_wrap .search_box .btn.btn_common .fas{
// 	position: absolute;
// 	top: 50%;
// 	left: 50%;
// 	transform: translate(-50%,-50%);
// 	color: #fff;
// 	font-size: 20px;
// }

// .search_wrap.search_wrap_4 .search_box .input{
// 	padding-left: 80px;
// }


// .search_wrap.search_wrap_4 .search_box .input
// {
// 	border-radius: 50px;
// }

// .search_wrap.search_wrap_4 .search_box .btn{
// 	left: 0px;
// 	border-radius: 50%;
// }


/*

html {
    font-size: 14px;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%
}

body {
    width: 100%;
    font-family: JustEatBasis, Arial, sans-serif;
    color: #2a3846;
    font-weight: 400;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased
}

body,
p {
    font-size: 14px;
    font-size: 1rem;
    line-height: 1.43
}

p {
    margin-top: 16px;
    margin-bottom: 0
}

.c-searchInput-container {
    width: 100%;
}

@media (min-width:64.0625em) {
    .g-span9--wide {
        -webkit-flex-basis: 75% !important;
        -ms-flex-preferred-size: 75% !important;
        flex-basis: 75% !important;
        -webkit-box-flex: 0;
        -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        max-width: 75% !important
    }

    .g-span9--wide.g-holdWidth--wide {
        min-width: 954px
    }

    .g--gutter--scaled .g-span9--wide.g-holdWidth--wide {
        min-width: 938px
    }

    .g--gutter--scaled .g-span9--wide {
        -webkit-flex-basis: 74.68553% !important;
        -ms-flex-preferred-size: 74.68553% !important;
        flex-basis: 74.68553% !important;
        max-width: 74.68553%;
        margin-left: 1.25786%
    }

    .no-flexbox .g-span9--wide {
        width: 75% !important
    }
}

.is-visuallyHidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

body {
    margin: 5%;
}

.c-searchInput-container {
    position: relative;
    -webkit-box-shadow: 0 2px 5px 1px rgba(0, 0, 0, .1);
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, .1);
    margin: 8px 0 32px;
    z-index: 1
}

@media (min-width:48em) {
    .c-searchInput-container {
        margin: 0 0 24px
    }
}

@media (max-width:47.937em) {
    .c-searchInput-container .c-searchInput-overlay-searchBar {
        position: relative
    }
}

@media (max-width:47.937em) {
    .c-searchInput-container.is-open {
        top: 0;
        left: 0;
        position: fixed;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        z-index: 9000;
        overflow: hidden;
        background-color: #fff;
        -webkit-transition: background-color .15s;
        transition: background-color .15s
    }

    .c-searchInput-container.is-open .c-searchInput-overlay-searchBar {
        top: 0;
        left: 0;
        width: 100%;
        height: 84px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        position: fixed;
        z-index: 1;
        padding: 16px;
        background-color: #fff;
        -webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .12);
        box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .12)
    }

    .c-searchInput-container.is-open .c-predict-dropdown,
    .c-searchInput-container.is-open .c-searchInput-cancel {
        display: block
    }

    .c-searchInput-container.is-open .c-searchInput-clear {
        right: 96px;
        display: inline-block
    }

    .c-searchInput-container.is-open .c-searchInput-icon {
        left: 32px
    }

    .c-searchInput-container.is-open .c-searchInput {
        display: none
    }

    .c-searchInput-container.is-open .c-searchInput--mobile {
        display: block
    }
}

@media (min-width:48em) {
    .c-searchInput-container.is-selected {
        -webkit-box-shadow: 0 14px 45px 2px rgba(0, 0, 0, .1);
        box-shadow: 0 14px 45px 2px rgba(0, 0, 0, .1)
    }

    .c-searchInput-container.is-selected .c-searchInput {
        border-radius: 4px 4px 0 0
    }
}

.c-searchInput-container.is-selected .c-predict-dropdown {
    display: block
}

.c-searchInput {
    position: relative;
    border-radius: 4px;
    font-family: JustEatBasis, Arial, sans-serif;
    font-weight: 400;
    color: #2a3846;
    background: #fff;
    border: 0;
    outline: 0;
    width: 100%;
    -webkit-appearance: none;
    font-size: 16px;
    font-size: 1.14286rem;
    padding: 16px 90px 16px 16px
}

@media (min-width:48em) {
    .c-searchInput {
        font-size: 20px;
        font-size: 1.42857rem;
        padding: 21px 106px 21px 56px;
        z-index: 100
    }
}

.c-searchInput::-webkit-input-placeholder {
    color: #c5ccd3;
    font-weight: 400
}

.c-searchInput::-moz-placeholder {
    color: #c5ccd3;
    font-weight: 400
}

.c-searchInput:-ms-input-placeholder {
    color: #c5ccd3;
    font-weight: 400
}

.c-searchInput::-ms-input-placeholder {
    color: #c5ccd3;
    font-weight: 400
}

.c-searchInput::placeholder {
    color: #c5ccd3;
    font-weight: 400
}

.c-searchInput::-ms-clear {
    display: none
}

.c-searchInput:focus {
    outline: 2px solid #125fca
}

.c-searchInput--mobile {
    display: none
}

.c-searchInput-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 10
}

.c-searchInput-icon,
.c-searchInput-icon svg {
    width: 20px;
    height: 20px
}

.c-searchInput-icon svg>path {
    fill: #125fca
}

@media (min-width:48em) {
    .c-searchInput-icon {
        z-index: 8999
    }

    .c-searchInput-icon,
    .c-searchInput-icon svg {
        width: 24px;
        height: 24px
    }
}

.c-searchInput-button {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 16px;
    font-size: 1.14286rem;
    height: 100%;
    border-radius: 0 4px 4px 0;
    width: 55px;
    margin: 0 !important
}

@media (min-width:48em) {
    .c-searchInput-button {
        z-index: 100;
        height: calc(100% - 24px);
        border-radius: 4px;
        width: 90px;
        margin: 12px !important
    }
}

.c-searchInput-button:focus {
    outline: 2px solid #125fca
}

.c-searchInput-button-icon>svg,
.c-searchInput-button-text {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.c-searchInput-button-icon>svg {
    width: 24px;
    height: 24px
}

.c-searchInput-button-icon>svg>path {
    fill: #fff
}

@media (max-width:47.937em) {
    .c-searchInput-clear--predict {
        display: none
    }
}

.c-searchInput-clear {
    padding: 0;
    cursor: pointer;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 59px
}

@media (min-width:48em) {
    .c-searchInput-clear {
        right: 106px;
        z-index: 100
    }
}

.c-searchInput-clear svg {
    height: 40px;
    width: 48px;
    padding: 12px 16px
}

@media (min-width:48em) {
    .c-searchInput-clear svg {
        height: 48px;
        padding: 16px
    }
}

.c-searchInput-clear svg>path {
    fill: #2a3846
}

.c-searchInput-clear:hover {
    background-color: #f9fafb
}

.c-searchInput-clear.focus,
.c-searchInput-clear:focus {
    outline: 2px solid #125fca
}

.c-searchInput-clear--noSubmit {
    right: 8px
}

@media (min-width:48em) {
    .c-searchInput-clear--noSubmit {
        right: 16px
    }
}

.c-searchInput-form {
    position: relative
}

.isVuePredict .c-searchInput-overlay-searchBar {
    z-index: 10;
    position: relative
}

.c-searchInput-predict-item-base {
    font-family: JustEatBasis, Arial, sans-serif;
    font-size: 14px;
    font-size: 1rem;
    padding: 12px 8px;
    display: block;
    text-decoration: none;
    cursor: pointer
}

@media (min-width:48em) {
    .c-searchInput-predict-item-base {
        padding: 12px 16px
    }
}

.c-searchInput-predict-item-base.is-selected,
.c-searchInput-predict-item-base:hover {
    outline: none;
    background-color: #f9fafb
}

.c-searchInput-predict-item {
    border-bottom: 1px solid #f9fafb;
    color: #2a3846;
    font-size: 16px;
    font-size: 1.14286rem;
    font-weight: 600
}

.c-searchInput-predict-item .c-searchInput-predict-item-term {
    font-weight: 400
}

.c-searchInput-predict-item .c-searchInput-predict-item-category {
    display: block;
    font-weight: 400;
    color: #c5ccd3;
    font-size: 14px;
    font-size: 1rem
}

.c-searchInput-predict-item-seeAll {
    color: #125fca;
    font-weight: 600
}

.c-searchInput-predict-item--noBorder {
    border-bottom: none;
    padding: 8px
}

@media (min-width:48em) {
    .c-searchInput-predict-item--noBorder {
        padding: 8px 16px
    }
}
*/