@charset "UTF-8";

html {
    font-size: 14px;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%
}

body {
    font-family: JustEatBasis, Arial, sans-serif;
    color: #2a3846;
    font-weight: 400;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased
}

body,
p {
    font-size: 14px;
    font-size: 1rem;
    line-height: 1.43
}

p {
    margin-top: 16px;
    margin-bottom: 0
}

@media (min-width:64.0625em) {
    .g-span1--wide {
        -webkit-flex-basis: 8.33333% !important;
        -ms-flex-preferred-size: 8.33333% !important;
        flex-basis: 8.33333% !important;
        -webkit-box-flex: 0;
        -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        max-width: 8.33333% !important
    }

    .g-span1--wide.g-holdWidth--wide {
        min-width: 106px
    }

    .g--gutter--scaled .g-span1--wide.g-holdWidth--wide {
        min-width: 90px
    }

    .g--gutter--scaled .g-span1--wide {
        -webkit-flex-basis: 7.18029% !important;
        -ms-flex-preferred-size: 7.18029% !important;
        flex-basis: 7.18029% !important;
        max-width: 7.18029%;
        margin-left: 1.25786%
    }

    .no-flexbox .g-span1--wide {
        width: 8.33333% !important
    }

    .g-offset1--wide {
        margin-left: 8.33333% !important
    }

    .g-span2--wide {
        -webkit-flex-basis: 16.66667% !important;
        -ms-flex-preferred-size: 16.66667% !important;
        flex-basis: 16.66667% !important;
        -webkit-box-flex: 0;
        -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        max-width: 16.66667% !important
    }

    .g-span2--wide.g-holdWidth--wide {
        min-width: 212px
    }

    .g--gutter--scaled .g-span2--wide.g-holdWidth--wide {
        min-width: 196px
    }

    .g--gutter--scaled .g-span2--wide {
        -webkit-flex-basis: 15.61845% !important;
        -ms-flex-preferred-size: 15.61845% !important;
        flex-basis: 15.61845% !important;
        max-width: 15.61845%;
        margin-left: 1.25786%
    }

    .no-flexbox .g-span2--wide {
        width: 16.66667% !important
    }

    .g-offset2--wide {
        margin-left: 16.66667% !important
    }

    .g-span3--wide {
        -webkit-flex-basis: 25% !important;
        -ms-flex-preferred-size: 25% !important;
        flex-basis: 25% !important;
        -webkit-box-flex: 0;
        -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        max-width: 25% !important
    }

    .g-span3--wide.g-holdWidth--wide {
        min-width: 318px
    }

    .g--gutter--scaled .g-span3--wide.g-holdWidth--wide {
        min-width: 302px
    }

    .g--gutter--scaled .g-span3--wide {
        -webkit-flex-basis: 24.0566% !important;
        -ms-flex-preferred-size: 24.0566% !important;
        flex-basis: 24.0566% !important;
        max-width: 24.0566%;
        margin-left: 1.25786%
    }

    .no-flexbox .g-span3--wide {
        width: 25% !important
    }

    .g-offset3--wide {
        margin-left: 25% !important
    }

    .g-span4--wide {
        -webkit-flex-basis: 33.33333% !important;
        -ms-flex-preferred-size: 33.33333% !important;
        flex-basis: 33.33333% !important;
        -webkit-box-flex: 0;
        -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        max-width: 33.33333% !important
    }

    .g-span4--wide.g-holdWidth--wide {
        min-width: 424px
    }

    .g--gutter--scaled .g-span4--wide.g-holdWidth--wide {
        min-width: 408px
    }

    .g--gutter--scaled .g-span4--wide {
        -webkit-flex-basis: 32.49476% !important;
        -ms-flex-preferred-size: 32.49476% !important;
        flex-basis: 32.49476% !important;
        max-width: 32.49476%;
        margin-left: 1.25786%
    }

    .no-flexbox .g-span4--wide {
        width: 33.33333% !important
    }

    .g-offset4--wide {
        margin-left: 33.33333% !important
    }

    .g-span5--wide {
        -webkit-flex-basis: 41.66667% !important;
        -ms-flex-preferred-size: 41.66667% !important;
        flex-basis: 41.66667% !important;
        -webkit-box-flex: 0;
        -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        max-width: 41.66667% !important
    }

    .g-span5--wide.g-holdWidth--wide {
        min-width: 530px
    }

    .g--gutter--scaled .g-span5--wide.g-holdWidth--wide {
        min-width: 514px
    }

    .g--gutter--scaled .g-span5--wide {
        -webkit-flex-basis: 40.93291% !important;
        -ms-flex-preferred-size: 40.93291% !important;
        flex-basis: 40.93291% !important;
        max-width: 40.93291%;
        margin-left: 1.25786%
    }

    .no-flexbox .g-span5--wide {
        width: 41.66667% !important
    }

    .g-offset5--wide {
        margin-left: 41.66667% !important
    }

    .g-span6--wide {
        -webkit-flex-basis: 50% !important;
        -ms-flex-preferred-size: 50% !important;
        flex-basis: 50% !important;
        -webkit-box-flex: 0;
        -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        max-width: 50% !important
    }

    .g-span6--wide.g-holdWidth--wide {
        min-width: 636px
    }

    .g--gutter--scaled .g-span6--wide.g-holdWidth--wide {
        min-width: 620px
    }

    .g--gutter--scaled .g-span6--wide {
        -webkit-flex-basis: 49.37107% !important;
        -ms-flex-preferred-size: 49.37107% !important;
        flex-basis: 49.37107% !important;
        max-width: 49.37107%;
        margin-left: 1.25786%
    }

    .no-flexbox .g-span6--wide {
        width: 50% !important
    }

    .g-offset6--wide {
        margin-left: 50% !important
    }

    .g-span7--wide {
        -webkit-flex-basis: 58.33333% !important;
        -ms-flex-preferred-size: 58.33333% !important;
        flex-basis: 58.33333% !important;
        -webkit-box-flex: 0;
        -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        max-width: 58.33333% !important
    }

    .g-span7--wide.g-holdWidth--wide {
        min-width: 742px
    }

    .g--gutter--scaled .g-span7--wide.g-holdWidth--wide {
        min-width: 726px
    }

    .g--gutter--scaled .g-span7--wide {
        -webkit-flex-basis: 57.80922% !important;
        -ms-flex-preferred-size: 57.80922% !important;
        flex-basis: 57.80922% !important;
        max-width: 57.80922%;
        margin-left: 1.25786%
    }

    .no-flexbox .g-span7--wide {
        width: 58.33333% !important
    }

    .g-offset7--wide {
        margin-left: 58.33333% !important
    }

    .g-span8--wide {
        -webkit-flex-basis: 66.66667% !important;
        -ms-flex-preferred-size: 66.66667% !important;
        flex-basis: 66.66667% !important;
        -webkit-box-flex: 0;
        -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        max-width: 66.66667% !important
    }

    .g-span8--wide.g-holdWidth--wide {
        min-width: 848px
    }

    .g--gutter--scaled .g-span8--wide.g-holdWidth--wide {
        min-width: 832px
    }

    .g--gutter--scaled .g-span8--wide {
        -webkit-flex-basis: 66.24738% !important;
        -ms-flex-preferred-size: 66.24738% !important;
        flex-basis: 66.24738% !important;
        max-width: 66.24738%;
        margin-left: 1.25786%
    }

    .no-flexbox .g-span8--wide {
        width: 66.66667% !important
    }

    .g-offset8--wide {
        margin-left: 66.66667% !important
    }

    .g-span9--wide {
        -webkit-flex-basis: 75% !important;
        -ms-flex-preferred-size: 75% !important;
        flex-basis: 75% !important;
        -webkit-box-flex: 0;
        -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        max-width: 75% !important
    }

    .g-span9--wide.g-holdWidth--wide {
        min-width: 954px
    }

    .g--gutter--scaled .g-span9--wide.g-holdWidth--wide {
        min-width: 938px
    }

    .g--gutter--scaled .g-span9--wide {
        -webkit-flex-basis: 74.68553% !important;
        -ms-flex-preferred-size: 74.68553% !important;
        flex-basis: 74.68553% !important;
        max-width: 74.68553%;
        margin-left: 1.25786%
    }

    .no-flexbox .g-span9--wide {
        width: 75% !important
    }

    .g-offset9--wide {
        margin-left: 75% !important
    }

    .g-span10--wide {
        -webkit-flex-basis: 83.33333% !important;
        -ms-flex-preferred-size: 83.33333% !important;
        flex-basis: 83.33333% !important;
        -webkit-box-flex: 0;
        -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        max-width: 83.33333% !important
    }

    .g-span10--wide.g-holdWidth--wide {
        min-width: 1060px
    }

    .g--gutter--scaled .g-span10--wide.g-holdWidth--wide {
        min-width: 1044px
    }

    .g--gutter--scaled .g-span10--wide {
        -webkit-flex-basis: 83.12369% !important;
        -ms-flex-preferred-size: 83.12369% !important;
        flex-basis: 83.12369% !important;
        max-width: 83.12369%;
        margin-left: 1.25786%
    }

    .no-flexbox .g-span10--wide {
        width: 83.33333% !important
    }

    .g-offset10--wide {
        margin-left: 83.33333% !important
    }

    .g-span11--wide {
        -webkit-flex-basis: 91.66667% !important;
        -ms-flex-preferred-size: 91.66667% !important;
        flex-basis: 91.66667% !important;
        -webkit-box-flex: 0;
        -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        max-width: 91.66667% !important
    }

    .g-span11--wide.g-holdWidth--wide {
        min-width: 1166px
    }

    .g--gutter--scaled .g-span11--wide.g-holdWidth--wide {
        min-width: 1150px
    }

    .g--gutter--scaled .g-span11--wide {
        -webkit-flex-basis: 91.56184% !important;
        -ms-flex-preferred-size: 91.56184% !important;
        flex-basis: 91.56184% !important;
        max-width: 91.56184%;
        margin-left: 1.25786%
    }

    .no-flexbox .g-span11--wide {
        width: 91.66667% !important
    }

    .g-offset11--wide {
        margin-left: 91.66667% !important
    }

    .g-span12--wide {
        -webkit-flex-basis: 100% !important;
        -ms-flex-preferred-size: 100% !important;
        flex-basis: 100% !important;
        -webkit-box-flex: 0;
        -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        max-width: 100% !important
    }

    .g-span12--wide.g-holdWidth--wide {
        min-width: 1272px
    }

    .g--gutter--scaled .g-span12--wide.g-holdWidth--wide {
        min-width: 1256px
    }

    .g--gutter--scaled .g-span12--wide {
        -webkit-flex-basis: 100% !important;
        -ms-flex-preferred-size: 100% !important;
        flex-basis: 100% !important;
        max-width: 100%;
        margin-left: 0
    }

    .no-flexbox .g-span12--wide {
        width: 100% !important
    }
}

.c-card {
    background-color: #fff;
    display: block;
    margin-bottom: 8px;
    padding: 16px;
    position: relative
}

.is-visuallyHidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

.c-icon--star--fill,
.c-icon--star:hover,
.c-icon--star:hover~label,
.c-rating--fill,
.c-ratingSelectable-input:checked+label,
.c-ratingSelectable-input:checked~input+label {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 17'%3E%3Cpath fill='%23FF8000' fill-rule='evenodd' d='M11.72 5.47l5.26.76c.34.05.47.47.23.71l-3.8 3.7.9 5.2c.05.34-.3.6-.61.44L9 13.82l-4.7 2.46a.42.42 0 01-.6-.44l.9-5.2-3.8-3.7a.42.42 0 01.22-.7l5.26-.77L8.63.73a.42.42 0 01.74 0l2.35 4.74z'/%3E%3C/svg%3E")
}

.c-icon--star,
.c-icon--star--empty,
.c-rating {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 17'%3E%3Cpath fill='%23CACACA' d='M9 1.85L6.93 6.04a.42.42 0 01-.32.22l-4.63.67 3.35 3.26c.1.1.15.23.12.37l-.79 4.6 4.15-2.18a.42.42 0 01.38 0l4.15 2.17-.8-4.6a.42.42 0 01.13-.36l3.35-3.25-4.63-.68a.42.42 0 01-.32-.22L9 1.85zM6.28 5.47L8.63.73a.42.42 0 01.74 0l2.35 4.74 5.26.76c.34.05.47.47.23.71l-3.8 3.7.9 5.2c.05.34-.3.6-.61.44L9 13.82l-4.7 2.46a.42.42 0 01-.6-.44l.9-5.2-3.8-3.7a.42.42 0 01.22-.7l5.26-.77z'/%3E%3C/svg%3E")
}

body {
    margin: 0
}

.c-rating {
    background-repeat: repeat-x;
    display: inline-block;
    height: 16px;
    width: 96px
}



.c-rating--small {
    height: 12px;
    width: 72px
}

.c-rating--small,
.c-rating--small .c-rating--fill {
    background-size: 12px 12px
}

.c-rating--fill {
    vertical-align: top;
    background-repeat: repeat-x;
    display: inline-block;
    height: 100%;
    width: 100%
}

.c-rating--fill.c-ratings--fill-53 {
    width: 88.33333%
}

.c-listing-item {
    margin-bottom: 16px;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
    padding-bottom: 8px
}

@media (min-width:48.063em) {
    .c-listing-item {
        min-height: 96px;
        padding: 4px
    }
}


@media (min-width:48.063em) {
    .c-listing-item--withHeader {
        padding-top: 8px
    }
}

.c-listing-item-header {
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    position: absolute;
    padding-top: 37.69%
}

@media (min-width:48.063em) {
    .c-listing-item-header {
        width: 87px;
        height: 87px;
        padding-top: 0;
        top: 4px;
        left: 4px;
        border-radius: 4px
    }
}

@media (min-width:64.0625em) {
    .c-listing-item-header {
        width: 17.5%
    }
}

/* ------------------------------------------------ */

.c-listing-item-header-img {
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

@media (min-width:48.063em) {
    .c-listing-item-header-img {
        width: auto;
        height: 100%;
        max-width: none !important
    }
}

.c-listing-item-header-frame {
    left: 0;
    bottom: 0;
    position: absolute
}

.c-listing-item-header-frame svg {
    height: 45px;
    vertical-align: bottom
}

@media (min-width:48.063em) {
    .c-listing-item-header-frame {
        display: none
    }
}

.c-listing-item-link {
    display: block;
    color: #2a3846;
    text-decoration: none
}

.c-listing-item-link:active,
.c-listing-item-link:focus,
.c-listing-item-link:hover {
    color: currentColor;
    text-decoration: none
}

.c-listing-item-link:hover {
    text-decoration: none
}

.c-listing-item-link:hover .c-listing-item-title {
    text-decoration: underline
}

@media (min-width:48.063em) {
    .c-listing-item-link {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        min-height: 80px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap
    }
}

.c-listing-item-img {
    width: 55px;
    height: 55px;
    top: 16px;
    left: 16px;
    position: absolute;
    border: 1px solid #f1f2f4;
    border-radius: 2px
}

@media (min-width:64.0625em) {
    .c-listing-item-img {
        width: 65px;
        height: 65px
    }
}

.c-listing-item--withHeader .c-listing-item-img {
    top: auto;
    -webkit-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    transform: translateY(-4px)
}

@media (min-width:48.063em) {
    .c-listing-item--withHeader .c-listing-item-img {
        top: 20px;
        left: 60px;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none
    }
}

@media (min-width:64.0625em) {
    .c-listing-item--withHeader .c-listing-item-img {
        top: 16px;
        left: calc(17.5% - 33px)
    }
}

.c-listing-item-imgItem {
    width: 100%;
    height: auto;
    border-radius: 2px
}

.c-listing-item-info {
    position: relative;
    color: #2a3846;
    padding-left: 70px;
    min-height: 60px
}

@media (min-width:48.063em) {
    .c-listing-item-info {
        width: 55%;
        padding-top: 8px
    }
}

@media (min-width:64.0625em) {
    .c-listing-item-info {
        padding-left: 92px
    }
}

.c-listing-item--withHeader .c-listing-item-info {
    top: -4px
}

@media (min-width:48.063em) {
    .c-listing-item--withHeader .c-listing-item-info {
        padding-left: 126px
    }
}

@media (min-width:64.0625em) {
    .c-listing-item--withHeader .c-listing-item-info {
        padding-left: calc(17.5% + 46px)
    }
}

.c-listing-item-title {
    word-break: break-word;
    padding-right: 8px;
    font-size: 16px;
    font-size: 1.14286rem
}

@media (min-width:48.063em) {
    .c-listing-item-title {
        margin: 4px 0;
        padding-right: 16px
    }
}

.c-listing-item-new {
    top: -4px;
    color: #006631;
    position: relative;
    margin-right: 4px
}

.c-listing-item-details {
    width: 100%;
    position: relative
}

@media (min-width:48.063em) {
    .c-listing-item-details {
        width: 45%;
        margin-top: auto;
        padding: 8px 8px 0 16px
    }
}

@media (min-width:64.0625em) {
    .c-listing-item-details {
        width: 45%
    }
}

.c-listing-item-detailsRow {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 4px
}

.c-listing-item-detailsRow-icon {
    width: 20px;
    height: 20px;
    fill: #5e6b77
}

.c-listing-item-detailsRow-text {
    white-space: normal;
    margin-left: 8px
}

@media (min-width:48.063em) {
    .c-listing-item-badge span {
        display: block;
        font-size: 0
    }
}

@media (max-width:63.9995em) {
    .c-listing-item-badge span {
        display: block;
        font-size: 0
    }
}

@media (max-width:48em) {
    .c-listing-item-badge span {
        display: inline-block;
        font-size: 1em
    }
}

@media (min-width:64.0625em) {
    .c-listing-item-badge span {
        display: inline-block;
        font-size: 1em
    }
}

.c-listing-item-alert svg,
.c-listing-item-promo svg {
    fill: #f36d00
}

.c-listing-item-promo-text {
    color: #f36d00
}

.c-listing-item-promo-text--earned {
    color: #006631
}

.c-listing-item-rating {
    padding: 2px 0 3px
}

.c-listing-item-ratingText {
    top: -4px;
    position: relative;
    font-size: 12px;
    font-size: .85714rem;
    line-height: 1.33
}

.c-listing-item-text {
    margin-top: 0
}

.c-listing-item-meta {
    text-align: left
}

.c-searchInput-container {
    position: relative;
    -webkit-box-shadow: 0 2px 5px 1px rgba(0, 0, 0, .1);
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, .1);
    margin: 8px 0 32px;
    z-index: 1
}

@media (min-width:48em) {
    .c-searchInput-container {
        margin: 0 0 24px
    }
}

@media (max-width:47.937em) {
    .c-searchInput-container .c-searchInput-overlay-searchBar {
        position: relative
    }
}

@media (max-width:47.937em) {
    .c-searchInput-container.is-open {
        top: 0;
        left: 0;
        position: fixed;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        z-index: 9000;
        overflow: hidden;
        background-color: #fff;
        -webkit-transition: background-color .15s;
        transition: background-color .15s
    }

    .c-searchInput-container.is-open .c-searchInput-overlay-searchBar {
        top: 0;
        left: 0;
        width: 100%;
        height: 84px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        position: fixed;
        z-index: 1;
        padding: 16px;
        background-color: #fff;
        -webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .12);
        box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .12)
    }

    .c-searchInput-container.is-open .c-predict-dropdown,
    .c-searchInput-container.is-open .c-searchInput-cancel {
        display: block
    }

    .c-searchInput-container.is-open .c-searchInput-clear {
        right: 96px;
        display: inline-block
    }

    .c-searchInput-container.is-open .c-searchInput-icon {
        left: 32px
    }

    .c-searchInput-container.is-open .c-searchInput {
        display: none
    }

    .c-searchInput-container.is-open .c-searchInput--mobile {
        display: block
    }
}

@media (min-width:48em) {
    .c-searchInput-container.is-selected {
        -webkit-box-shadow: 0 14px 45px 2px rgba(0, 0, 0, .1);
        box-shadow: 0 14px 45px 2px rgba(0, 0, 0, .1)
    }

    .c-searchInput-container.is-selected .c-searchInput {
        border-radius: 4px 4px 0 0
    }
}

.c-searchInput-container.is-selected .c-predict-dropdown {
    display: block
}

.c-searchInput {
    position: relative;
    border-radius: 4px;
    font-family: JustEatBasis, Arial, sans-serif;
    font-weight: 400;
    color: #2a3846;
    background: #fff;
    border: 0;
    outline: 0;
    width: 100%;
    -webkit-appearance: none;
    font-size: 16px;
    font-size: 1.14286rem;
    padding: 16px 90px 16px 16px
}

@media (min-width:48em) {
    .c-searchInput {
        font-size: 20px;
        font-size: 1.42857rem;
        padding: 21px 106px 21px 56px;
        z-index: 100
    }
}

.c-searchInput::-webkit-input-placeholder {
    color: #c5ccd3;
    font-weight: 400
}

.c-searchInput::-moz-placeholder {
    color: #c5ccd3;
    font-weight: 400
}

.c-searchInput:-ms-input-placeholder {
    color: #c5ccd3;
    font-weight: 400
}

.c-searchInput::-ms-input-placeholder {
    color: #c5ccd3;
    font-weight: 400
}

.c-searchInput::placeholder {
    color: #c5ccd3;
    font-weight: 400
}

.c-searchInput::-ms-clear {
    display: none
}

.c-searchInput:focus {
    outline: 2px solid #125fca
}

.c-searchInput--mobile {
    display: none
}

.c-searchInput-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 10
}

.c-searchInput-icon,
.c-searchInput-icon svg {
    width: 20px;
    height: 20px
}

.c-searchInput-icon svg>path {
    fill: #125fca
}

@media (min-width:48em) {
    .c-searchInput-icon {
        z-index: 8999
    }

    .c-searchInput-icon,
    .c-searchInput-icon svg {
        width: 24px;
        height: 24px
    }
}

.c-searchInput-button {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 16px;
    font-size: 1.14286rem;
    height: 100%;
    border-radius: 0 4px 4px 0;
    width: 55px;
    margin: 0 !important
}

@media (min-width:48em) {
    .c-searchInput-button {
        z-index: 100;
        height: calc(100% - 24px);
        border-radius: 4px;
        width: 90px;
        margin: 12px !important
    }
}

.c-searchInput-button:focus {
    outline: 2px solid #125fca
}

.c-searchInput-button-icon>svg,
.c-searchInput-button-text {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.c-searchInput-button-icon>svg {
    width: 24px;
    height: 24px
}

.c-searchInput-button-icon>svg>path {
    fill: #fff
}

@media (max-width:47.937em) {
    .c-searchInput-clear--predict {
        display: none
    }
}

.c-searchInput-clear {
    padding: 0;
    cursor: pointer;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 59px
}

@media (min-width:48em) {
    .c-searchInput-clear {
        right: 106px;
        z-index: 100
    }
}

.c-searchInput-clear svg {
    height: 40px;
    width: 48px;
    padding: 12px 16px
}

@media (min-width:48em) {
    .c-searchInput-clear svg {
        height: 48px;
        padding: 16px
    }
}

.c-searchInput-clear svg>path {
    fill: #2a3846
}

.c-searchInput-clear:hover {
    background-color: #f9fafb
}

.c-searchInput-clear.focus,
.c-searchInput-clear:focus {
    outline: 2px solid #125fca
}

.c-searchInput-clear--noSubmit {
    right: 8px
}

@media (min-width:48em) {
    .c-searchInput-clear--noSubmit {
        right: 16px
    }
}

.c-searchInput-form {
    position: relative
}

.isVuePredict .c-searchInput-overlay-searchBar {
    z-index: 10;
    position: relative
}

.c-searchInput-predict-item-base {
    font-family: JustEatBasis, Arial, sans-serif;
    font-size: 14px;
    font-size: 1rem;
    padding: 12px 8px;
    display: block;
    text-decoration: none;
    cursor: pointer
}

@media (min-width:48em) {
    .c-searchInput-predict-item-base {
        padding: 12px 16px
    }
}

.c-searchInput-predict-item-base.is-selected,
.c-searchInput-predict-item-base:hover {
    outline: none;
    background-color: #f9fafb
}

.c-searchInput-predict-item {
    border-bottom: 1px solid #f9fafb;
    color: #2a3846;
    font-size: 16px;
    font-size: 1.14286rem;
    font-weight: 600
}

.c-searchInput-predict-item .c-searchInput-predict-item-term {
    font-weight: 400
}

.c-searchInput-predict-item .c-searchInput-predict-item-category {
    display: block;
    font-weight: 400;
    color: #c5ccd3;
    font-size: 14px;
    font-size: 1rem
}

.c-searchInput-predict-item-seeAll {
    color: #125fca;
    font-weight: 600
}

.c-searchInput-predict-item--noBorder {
    border-bottom: none;
    padding: 8px
}

@media (min-width:48em) {
    .c-searchInput-predict-item--noBorder {
        padding: 8px 16px
    }
}